@model DynamicListItemModel
<li class="item form-group">
    <div class="form-control">
        @Html.EditorFor(model => model.Id)
        @Html.ValidationMessageFor(model => model.Id)
    </div>
    <div class="form-control">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</li>
